<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zengcheng.sandhouse.common.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zengcheng.sandhouse.common.entity.Permission">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="pid" property="pid" />
    </resultMap>
    <select id="selectPermissionsByRoleId" resultType="com.zengcheng.sandhouse.common.entity.Permission">
        SELECT
            p.*
        FROM
            role_permission rp,permission p
        WHERE
            rp.rid = #{roleId}
        AND
            rp.pid = p.id
    </select>

</mapper>
